@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family:poppins;
}
form{
    display: block;
}
h2 {
    text-align: center;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 15px;
}
#container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.firstName,
.lastName {
    display: block;
    margin-left:10px;
    color: #979797;
}
.inputName{
    display: flex;
}
#firstName,
#lastName {
    font-size: 10px;
    margin-top: 2px;
}
label{
    font-weight: bold;
    display: block;
    font-size: 12px;
}
.account,
.password,
.confirmPassword,
.email,
.phone{
    display: flex;
    margin-bottom: 15px;
}
.phoneNumber,
.area{
    display: inline-block;
}

#phoneNumber,
#areaCode{
    margin-top:2px;
}
input[type=text]{
    background-color:#E6E6E6;
    border: none;
}
div.lastName{
    margin-left: 30px;
    width: 100px;
}
#accountName{
    margin-left: 35px;
    width: 73%;
}
#password{
    margin-left: 28px;
    width: 73%;
}
#confirmPassword {
    margin-left: 30px;
    width: 284px;
}
div.area,
div.phoneNumber{
    margin-left: 40px;
}
input#email {
    margin-left: 45px;
    width: 347px;
}
.selection{
    display: flex;
    margin-bottom: 20px;
}
select#subject {
    margin-left: 33px;
    background-color: #E6E6E6;
    border: none;
    width: 350px;
    height: 30px;
}
.isExist{
    display: flex;
    margin-bottom: 20px;
    margin-top: 0px;
}
.question{
    margin-bottom: 20px;
}
button{
    border: none;
    color: #ffffff;
    background-color: #FD4B59;
    border-radius: 3px;
    height: 25px;
    font-size: 10px;
}
input{
    border-radius: 3px;
    height: 30px;
    width: 151px;
}
p#phoneNumber,
p#areaCode{
    font-size: 10px;
    color: #979797;
}
div.firstName {
    margin-left: 50px;
    width: 160px;
}
input#yes, input#no {
    width: 35px;
    height: 20px;
    margin-top: 0%;
    border: none;
    background-color: #979797
}
.center {
    margin-left:  35px;
}

#firstName-error,
#lastName-error,
#accountName-error,
#password-error,
#phoneNumber-error,
#areaCode-error,
#email-error,
#confirmPassword-error,
#subject-error {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
    font-size: 12px;
}